body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  background-color: #e0e2e4;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  width: 300px;

}
.block {
  height: 48px;
  border: 1px solid #e0e2e4;
  width: 48px;
  display: block;
  position: absolute;
  margin: 0;
}
.zeta {
  background-color: #feb236;

}
.ele {
  background-color: #034f84;
}
.cuadrado {
  background-color: #d64161;
}
.palo {
  background-color: #ff7b25;
}


/*---Animación desaparación---*/


@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes desaparecer2 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*---Animación desaparación---*/

/*--- Movimientos ---*/
@keyframes a0 {
  0% {
    bottom: 100vh;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes a50 {
  0% {
    bottom: calc(100vh + 50px);
  }
  100% {
    bottom: 50px;
  }
}
@keyframes a100 {
  0% {
    bottom: calc(100vh + 100px);
  }
  100% {
    bottom: 100px;
  }
}
@keyframes a150 {
  0% {
    bottom: calc(100vh + 150px);
  }
  100% {
    bottom: 150px;
  }
}
@keyframes a50b {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes a100b {
  0% {
    bottom: 100px;
  }
  100% {
    bottom: 50px;
  }
}
@keyframes a150b {
  0% {
    bottom: 150px;
  }
  100% {
    bottom: 100px;
  }
}
/*--- Movimientos ---*/



/*Figura 1, Palo*/
.n-1 {
  animation: a0 3s ease-in 0s forwards, desaparecer 2s linear 9300ms forwards;
  bottom: 100vh;
  left: 250px;
  opacity: 1;
}
.n-7 {
  animation: a50 3s ease-in 0s forwards, a50b 500ms ease-in 9500ms forwards, desaparecer 2s linear 13300ms forwards;
  bottom: calc(100vh + 50px);
  left: 250px;
}
.n-13 {
  animation: a100 3s ease-in 0s forwards, a100b 500ms ease-in 9500ms forwards, a50b 500ms ease-in 13500ms forwards, desaparecer 2s linear 17300ms forwards;
  bottom: calc(100vh + 100px);
  left: 250px;
}
.n-19 {
  animation: a150 3s ease-in 0s forwards, a150b 500ms ease-in 9500ms forwards, a100b 500ms ease-in 13500ms forwards, a50b 500ms ease-in 17500ms forwards, desaparecer 2s linear 21300ms forwards;
  bottom: calc(100vh + 150px);
  left: 250px;
}

/*Figura 1, Palo*/



/*Figura 2, cuadrado*/
.n-2 {
  animation: a0 3s ease-in 3s forwards, desaparecer 2s linear 9300ms forwards;
  bottom: 100vh;
  left: 200px;
}
.n-3 {
  animation: a0 3s ease-in 3s forwards, desaparecer 2s linear 9300ms forwards;
  bottom: 100vh;
  left: 150px;
}
.n-8 {
  animation: a50 3s ease-in 3s forwards, a50b 500ms ease-in 9500ms forwards, desaparecer 2s linear 13300ms forwards;
  bottom: calc(100vh + 50px);
  left: 200px;
}
.n-9 {
  animation: a50 3s ease-in 3s forwards, a50b 500ms ease-in 9500ms forwards, desaparecer 2s linear 13300ms forwards;
  bottom: calc(100vh + 50px);
  left: 150px;
}

/*Figura 2, cuadrado*/


/*Figura 3, ele*/
.n-4 {
  animation: a0 3s ease-in 6s forwards, desaparecer 2s linear 9300ms forwards;
  bottom: 100vh;
  left: 100px;
}
.n-5 {
  animation: a0 3s ease-in 6s forwards, desaparecer 2s linear 9300ms forwards;
  bottom: 100vh;
  left: 50px;
}
.n-6 {
  animation: a0 3s ease-in 6s forwards, desaparecer 2s linear 9300ms forwards;
  bottom: 100vh;
  left: 0px;
}
.n-12 {
  animation: a50 3s ease-in 6s forwards, a50b 500ms ease-in 9500ms forwards, desaparecer 2s linear 13300ms forwards;
  bottom: calc(100vh + 50px);
  left: 0px;
}

/*Figura 3, ele*/






/*---Figura 4, ele-2---*/
.n-14 {
  animation: a0 3s ease-in 14s forwards, desaparecer 2s linear 17300ms forwards;
  bottom: 100vh;
  left: 200px;
}
.n-15 {
  animation: a0 3s ease-in 14s forwards, desaparecer 2s linear 17300ms forwards;
  bottom: 100vh;
  left: 150px;
}
.n-16 {
  animation: a0 3s ease-in 14s forwards, desaparecer 2s linear 17300ms forwards;
  bottom: 100vh;
  left: 100px;
}
.n-20 {
  animation: a50 3s ease-in 14s forwards, a50b 500ms ease-in 17500ms forwards, desaparecer 2s linear 21300ms forwards;
  bottom: calc(100vh + 50px);
  left: 200px;
}

/*Figura 4, ele-2*/




/*---Figura 5, zeta---*/
.n-10 {
  animation: a0 3s ease-in 10s forwards, desaparecer 2s linear 13300ms forwards;
  bottom: 100vh;
  left: 100px;
}
.n-11 {
  animation: a0 3s ease-in 10s forwards, desaparecer 2s linear 13300ms forwards;
  bottom: 100vh;
  left: 50px;
}
.n-17 {
  animation: a50 3s ease-in 10s forwards, a50b 500ms ease-in 13500ms forwards, desaparecer 2s linear 17300ms forwards;
  bottom: calc(100vh + 50px);
  left: 50px;
}
.n-18 {
  animation: a50 3s ease-in 10s forwards, a50b 500ms ease-in 13500ms forwards, desaparecer 2s linear 17300ms forwards;
  bottom: calc(100vh + 50px);
  left: 0px;
}
/*Figura 5, zeta*/




/*---Figura 6, palo-2---*/
.n-21 {
  animation: a0 3s ease-in 18s forwards, desaparecer 2s linear 21300ms forwards;
  bottom: 100vh;
  left: 150px;
}
.n-22 {
  animation: a0 3s ease-in 18s forwards, desaparecer 2s linear 21300ms forwards;
  bottom: 100vh;
  left: 100px;
}
.n-23 {
  animation: a0 3s ease-in 18s forwards, desaparecer 2s linear 21300ms forwards;
  bottom: 100vh;
  left: 50px;
}
.n-24 {
  animation: a0 3s ease-in 18s forwards, desaparecer 2s linear 21300ms forwards;
  bottom: 100vh;
  left: 0px;
}
/*---Figura 6, palo-2---*/
